<div class="footer">
    <div class="container_part">

        <div class="first-part">
            <div class="titre">
                <h4>The Pocketpair Company</h4>
            </div>
            <div class="txt_content">
                <p>Actualités</p>
                <p>Guide parental</p>
                <p>Service client</p>
                <p>Choisir un pays ou une region</p>
                <p>Site presse</p>
            </div>
        </div>
        <div class="second-part">
            <div class="logo">
                <img [src]="logoFb">
            </div>
            <div class="logo">
                <img [src]="logoInsta">
            </div>
            <div class="logo">
                <img [src]="logoYoutube">
            </div>

        </div>
        <div class="third-part">
            <div class="image-pokeball">
                <img [src]="logopokeball">
            </div>
            <div class="text-content-third-part">
                <p>Condition d'utilisation</p>
                <p>Avis de confidentialité</p>
                <p>Page Cookie</p>
                <p>Inforamtions juridiques</p>
                <div class="copyrigth">
                    <p>2025 Pocketpair / Pocketpair/Creatures</p>
                    <p>Inc./Pocketpair inc. TM,</p>
                </div>
            </div>

        </div>

    </div>


</div>